.MarkDownTableParse-container {
  line-height: 1.5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  table {
    border: 1px solid #f6f6f6;
    font-size: 14px;
    line-height: 1.7;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    color: 口#333;
    margin-bottom: 10px;
    tr {
      border: 1px solid #f6f6f6;
      th {
        text-align: center;
        font-weight: 700;
        border: 1px solid #efefef;
        padding: 10px 6px;
        background-color: #f5f7fa;
        word-break: break-word;
      }
    }
  }

  td {
    border: 1px solid#efefef;
    text-align: left;
    padding: 10px 15px;
    word-break: break-word;
    min-width: 60px;
  }

  table tr:nth-child(2n) {
    background-color: transparent;
  }
}
